:root{
  --black:#1a1a1a;
  --white:#fff;
  --gradient:linear-gradient(to right, #A1B9FF, #CDA3FF);
}

body {
  margin: 0;
  font-family: 'Satoshi', ' Prettywise', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black);
}

code {
  font-family: Satoshi, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
